.navbar{
	-webkit-box-shadow: 0px 3px 11px 3px rgba(156,153,219,1);
-moz-box-shadow: 0px 3px 11px 3px rgba(156,153,219,1);
box-shadow: 0px 3px 11px 3px rgba(156,153,219,1);
}
.list li a:hover{
    border-bottom: 3px solid #7671ff;
}

.activeLink{
    border-bottom: 3px solid #7671ff;

}

.list li {
    font-style: normal;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 30px;
	color: #7694f5;
}